body {
  background-color: #fffff2
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Exo', sans-serif;
  text-align: center;
  font-size: large;
}

#pic {
  height: 400px;
}

#button {
  font-size: large;
}
